{
  "wetter": {
    "pws": {
      "api_key": "YOUR_WUNDERGROUND_PWS_API_KEY",
      "station_id": "YOUR_STATION_ID"
    },
    "forecast": {
      "api_key": "YOUR_WUNDERGROUND_FORECAST_API_KEY",
      "geocode": "50.223,6.662"
    }
  }
}
